.vertical-slider-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 100%;
    position: relative;
    width: 100%;


    .slider-content {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        margin-top: 6px;
        height: 488px;
        width: 100%;
        max-width: 240px;
    }

    .slider-track-container {
        position: relative;
        height: 100%;
        width: 90px;
        display: flex;
        justify-content: center;
    }

    .slider-track {
        position: relative;
        height: 100%;
        width: 10px;
        background: linear-gradient(
            to top,
            rgba(40, 223, 153, 0.3),
            rgba(40, 223, 153, 0.5),
            rgba(40, 223, 153, 0.6),
            rgba(40, 223, 153, 0.8)
        );
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 0 15px -5px rgba(40, 223, 153, 0.5);
    }

    .slider-knob {
        position: absolute;
        width: 22px;
        height: 22px;
        background-color: #28df99;
        border: 2px solid rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        cursor: grab;
        transition: transform 0.2s, box-shadow 0.2s;
        box-shadow: 0 0 10px -2px white;
        
        &:hover, &:active {
            transform: translateX(-50%) scale(1.1);
            box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.5);
        }
        
        &:active {
            cursor: grabbing;
        }
    }

    .section-titles {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 15px;
        text-align: right;
        padding: 15px 0;
        height: 100%;
    }

    .section-title {
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.6);
        transition: color 0.3s, text-shadow 0.3s;
        padding: 8px 0;
        
        &.active {
            color: #28df99;
            text-shadow: 0 0 10px rgba(40, 223, 153, 0.5);
            font-weight: bold;
        }
    }

    .monthly-cost {
        text-align: center;
        padding: 8px 15px;
        border-radius: 5px;
        font-weight: 600;
        width: 100%;
        
        p {
            margin: 0;
            color: #fff;
            font-size: 18px;
            white-space: nowrap;
        }
    }
}

@media screen and (max-width: 1130px) {
    .vertical-slider-container .monthly-cost p {
        font-size: 16px;
    }
}