main.product-lists-main {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.product-lists-container {
    display: flex;
    justify-content: center;
    // gap: 80px;
    background-image: linear-gradient(280deg, #212121, #2e2e2e 30%, #2e2e2e 35%, #1c1c1c 99%);
    max-width: 100%;
    margin: auto;
    // padding-left: 16px;
    border: 2px solid #28df99;
    border-radius: 12px;
    position: relative;
}

.chosen-products-title-wrapper {
    display: flex;
    flex-direction: column;

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: white;
        font-size: 22px;
        font-weight: bold;
        margin: 16px auto 8px;
        width: fit-content;
        margin-bottom: 16px;
        padding-bottom: 4px;
        border-bottom: 1px solid #28df99;
        box-shadow: 0 4px 2px -1px rgba(40, 223, 153, .188);
    }

    input.customer-name {
        border: none;
        outline: none;
        background: none;
        color: white;
        margin-right: 4px;
        padding: 0;
        border-radius: 4px;
        font-size: 20px !important;
        min-width: 150px;

        &::placeholder {
            text-align: center;
        }

        &:focus {
            background: #dcdcdc;
            color: black;
        }
    }

    input#customer-phone {
        direction: rtl;
        border: none;
        border-radius: 4px;
        // box-shadow: 0 4px 2px -1px rgba(40, 223, 153, 0.188);
        outline: none;
        margin: auto;
        padding: 0;
        font-size: 20px;
        color: white;
        max-width: 150px;
        background: none;
        text-align: center;
        
        &:focus {
            background: #dcdcdc;
            color: black;
        }
    }

    .phone-separator {
        width: 1px;
        height: 80%;
        background: #28df99;
        box-shadow: 0 0px 2px 2px rgba(40, 223, 153, .188);
    }
}

ul.product-list-container.chosen-products-container.monthly-payment-col {
    border-right: 1px dashed #28df99;
    border-radius: 0;
}

.chosen-products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chosen-products-wrapper {
    display: flex;
    height: 100%;
}

.products-total-sum {
    display: flex;
    justify-content: center;
    align-items: center;
    // background: linear-gradient(345deg,#2adf9a,#2de1a2 21%,#36e2a9 30%,#3fe4b2 39%,#48e5b8 46%,#51e6c1 54%,#5ae7c6 61%,#64e8cb 69%,#6de9d2 79%,#76ead6);
    border: 1px solid #28df99;
    border-bottom: none;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    box-shadow: 0 -4px 2px -1px rgba(40, 223, 153, .188);
    // border-radius: 4px;
    width: 30%;
    margin-left: 28%;
    padding: 12px 48px;

    p {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        white-space: nowrap;
    }
}

.reset-board-btn-wrapper {
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    padding: 6px;
    background: #28df99;
    border-radius: 0 !important;
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    transition: box-shadow 0.1s ease;
}

.reset-board-btn-wrapper:hover,
.reset-board-btn-wrapper:focus {
    background: #28df99 !important;
    box-shadow: 0 0 4px 4px #ffffff3c;
    transition: box-shadow 0.1s ease;
}

@media screen and (max-width: 1130px) {
    .chosen-products-title-wrapper h2,
    .chosen-products-title-wrapper input.customer-name,
    .chosen-products-title-wrapper input#customer-phone {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 900px) {
    .products-total-sum {
        width: 100%;
        min-height: 50px;
    }
}

@media screen and (max-width: 700px) {
    .chosen-products-wrapper {
        flex-direction: column;
    }
}