main.product-lists-main {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.product-lists-container {
    display: flex;
    justify-content: center;
    // gap: 80px;
    background-image: linear-gradient(280deg, #212121, #2e2e2e 30%, #2e2e2e 35%, #1c1c1c 99%);
    max-width: 100%;
    margin: auto;
    padding-left: 16px;
    border: 2px solid #28df99;
    border-radius: 12px;
    position: relative;
}

.chosen-products-title-wrapper {
    display: flex;
    flex-direction: column;

    h2 {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 22px;
        font-weight: bold;
        margin: 16px auto 8px;
        width: fit-content;
        padding-bottom: 4px;
        border-bottom: 1px solid #28df99;
        box-shadow: 0 4px 2px -1px rgba(40, 223, 153, .188);
    }
}

.chosen-products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chosen-products-wrapper {
    display: flex;
    height: 100%;
}

.products-total-sum {
    display: flex;
    justify-content: center;
    align-items: center;
    // background: linear-gradient(345deg,#2adf9a,#2de1a2 21%,#36e2a9 30%,#3fe4b2 39%,#48e5b8 46%,#51e6c1 54%,#5ae7c6 61%,#64e8cb 69%,#6de9d2 79%,#76ead6);
    border-top: 1px solid #28df99;
    box-shadow: 0 -4px 2px -1px rgba(40, 223, 153, .188);
    // border-radius: 4px;
    width: 50%;
    min-height: 36px;
    padding: 12px 48px;

    p {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
}

.reset-board-btn-wrapper {
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background: #28df99;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: box-shadow 0.1s ease;
}

.reset-board-btn-wrapper:hover {
    box-shadow: 0 0 4px 4px #ffffff3c;
    transition: box-shadow 0.1s ease;
}

@media screen and (max-width: 900px) {
    .products-total-sum {
        width: 100%;
        min-height: 50px;
    }
}

@media screen and (max-width: 700px) {
    .chosen-products-wrapper {
        flex-direction: column;
    }
}