ul.product-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 0;
    padding: 12px 10px;
    width: 360px;
    // max-height: 762px; // for local testing
    max-height: 729px;
    overflow-y: scroll;
    position: relative;
    border-radius: 12px;

    &.chosen-products-container {
        margin: 12px 0;
        padding: 0;
        width: auto;
        height: 586px;
        overflow-y: visible;
        
        h3 {
            margin: 0;
            padding-bottom: 4px;
            color: white;
            border-bottom: 1px solid #28df99;
            box-shadow: 0 4px 2px -1px rgba(40, 223, 153, .188);
            font-size: 1.25rem;
        }
    }
    
    &.monthly-payment-col {
        width: 260px;
        height: 586px;
    }
    
    .chosen-products-inner-wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 360px;
        overflow-y: scroll;
        padding: 12px 16px;
    }
}

ul.product-list-container::-webkit-scrollbar,
.chosen-products-inner-wrapper::-webkit-scrollbar {
    width: 4px;
}

ul.product-list-container::-webkit-scrollbar-thumb,
.chosen-products-inner-wrapper::-webkit-scrollbar-thumb {
    background: linear-gradient(345deg,#2adf9a,#2de1a2 21%,#36e2a9 30%,#3fe4b2 39%,#48e5b8 46%,#51e6c1 54%,#5ae7c6 61%,#64e8cb 69%,#6de9d2 79%,#76ead6);
    border-radius: 12px;
    position: relative;
    top: 100px !important;
}

.products-step-sum {
    display: flex;
    justify-content: center;
    align-items: center;
    // background: linear-gradient(345deg,#2adf9a,#2de1a2 21%,#36e2a9 30%,#3fe4b2 39%,#48e5b8 46%,#51e6c1 54%,#5ae7c6 61%,#64e8cb 69%,#6de9d2 79%,#76ead6);
    text-align: center;
    border-radius: 4px;
    width: 80%;
    min-height: 36px;
    margin-top: auto;

    p {
        color: #fff;
        font-size: 18px;
        // font-weight: bold;
    }
}

@media screen and (max-width: 1330px) {
    ul.product-list-container,
    ul.product-list-container .chosen-products-inner-wrapper {
        width: 278px;
    }
    
    ul.product-list-container.monthly-payment-col {
        width: 260px;
    }
}

@media screen and (max-width: 1130px) {
    ul.product-list-container,
    ul.product-list-container .chosen-products-inner-wrapper {
        max-width: 220px;
        width: fit-content;
    }
    
    ul.product-list-container.monthly-payment-col {
        width: 220px;
    }

    ul.product-list-container.chosen-products-container h3 {
        font-size: 1rem;
    }

    .products-step-sum p {
        font-size: 16px;
    }

    .products-total-sum p {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    ul.product-list-container.chosen-products-container {
        height: 304px;
    }
    
    ul.product-list-container .chosen-products-inner-wrapper {
        max-width: initial;
        width: 278px;
    }
    
    ul.product-list-container.monthly-payment-col {
        border-right: none;
        box-shadow: none;
        border-top: 1px solid #28df99;
        box-shadow: 0 -4px 2px -1px rgba(40, 223, 153, .188);
        padding-top: 15px;
        margin-top: 15px;
        width: 100%;
        max-width: 100%;
        height: auto;
        min-height: 350px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 550px) {
    ul.product-list-container,
    ul.product-list-container .chosen-products-inner-wrapper {
        width: 196px;
    }
}